.navbar-home-container {
    height: 100vh;
}

.home-container {
    background-image: url("https://max-website20-images.s3.ap-south-1.amazonaws.com/Types_of_Doctors_1c5efbe677.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: -20px;
    padding-left: 70px;
}

.home-heading{
    margin-top: 250px;
    margin-right: 110px;
    font-size: 36px;
}

.home-container p {
    font-size: 22px;
    margin-right: 110px;
}

.home-container button {
    height: 60px;
    width: 180px;
    margin-right: 110px;
}